<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="blogMapper">

		<resultMap type="Blog" id="resultBlog">
			<result property="blog_no" column="blog_no" />
			<result property="title" column="title" />
			<result property="writer_id	" column="writer_id	" />
			<result property="contents" column="contents" />
			<result property="contents_tag" column="contents_tag" />
			<result property="write_date" column="write_date" />
			<result property="thumbnail" column="thumbnail" />
			<result property="title_image" column="title_image" />
			<result property="cate_name1" column="cate_name1" />
			<result property="cate_name2" column="cate_name2" />
			<result property="tag" column="tag" />
			<result property="hits" column="hits" />
			<result property="like_count" column="like_count" />
			<result property="bed_count" column="bed_count" />
			<result property="hits_time" column="hits_time" />
			<result property="state" column="state" />
			<result property="notice" column="notice" />
			<result property="subscribe_share" column="subscribe_share" />
			<result property="bestno" column="bestno" />
		</resultMap>
		
		<resultMap type="Blog" id="resultBlogList">
			<result property="blog_no" column="blog_no" />
			<result property="title" column="title" />
			<result property="writer_id	" column="writer_id	" />
			<result property="contents" column="contents" />
			<result property="contents_tag" column="contents_tag" />
			<result property="write_date" column="write_date" />
			<result property="thumbnail" column="thumbnail" />
			<result property="title_image" column="title_image" />
			<result property="cate_name1" column="cate_name1" />
			<result property="cate_name2" column="cate_name2" />
			<result property="tag" column="tag" />
			<result property="hits" column="hits" />
			<result property="like_count" column="like_count" />
			<result property="bed_count" column="bed_count" />
			<result property="hits_time" column="hits_time" />
			<result property="state" column="state" />
			<result property="notice" column="notice" />
			<result property="subscribe_share" column="subscribe_share" />
			<result property="bestno" column="bestno" />
		</resultMap>

</mapper>