<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="blogMapper">

   <resultMap type="Blog" id="resultBlog">
      <id property="blogno" column="blog_no" />
      <result property="title" column="title" />
      <result property="writerid" column="writer_id"/>
      <result property="contents" column="contents"/>
      <result property="contentstag" column="contents_tag"/>
      <result property="writedate" column="write_date"/>
      <result property="thumbnail" column="thumbnail"/>
      <result property="titleimage" column="title_image"/>
      <result property="catename1" column="cate_name1"/>
      <result property="catename2" column="cate_name2"/>
      <result property="tag" column="tag"/>
      <result property="hits" column="hits"/>
      <result property="likecount" column="like_count"/>
      <result property="bedcount" column="bed_count"/>
      <result property="hitstime" column="hits_time"/>
      <result property="state" column="state"/>
      <result property="notice" column="notice"/>
      <result property="bestno" column="bestno"/>
   </resultMap>
   
   <resultMap type="Blog" id="resultList">
      <result property="blogno" column="blog_no" />
      <result property="title" column="title" />
      <result property="writerid" column="writer_id"/>
      <result property="contents" column="contents"/>
      <result property="contentstag" column="contents_tag"/>
      <result property="writedate" column="write_date"/>
      <result property="thumbnail" column="thumbnail"/>
      <result property="titleimage" column="title_image"/>
      <result property="catename1" column="cate_name1"/>
      <result property="catename2" column="cate_name2"/>
      <result property="tag" column="tag"/>
      <result property="hits" column="hits"/>
      <result property="likecount" column="like_count"/>
      <result property="bedcount" column="bed_count"/>
      <result property="hitstime" column="hits_time"/>
      <result property="state" column="state"/>
      <result property="notice" column="notice"/>
      <result property="bestno" column="bestno"/>
   </resultMap>
   
  <select id="selectBlog" parameterType="String" resultMap="resultBlog">
      select * 
      from TB_BLOG
      where blog_no = #{blogno}
   </select>
   
   <select id="selectBlogList" resultType="Blog" resultMap="resultList">
      select *
      from TB_BLOG
   </select>
   
   <select id="selectList"  resultMap="resultList" >
     select cate_name1 from tb_category
   </select>
   
   <insert id="insert">
   insert into TB_BLOG(
   blog_no,
   title,
   writer_id,
   contents,
    write_date,
   cate_name1,
   cate_name2)
   values
   (blog_no_seq.nextval,
   #{title},
   #{writerid},
   #{contents},
    sysdate,
   #{catename1},
   #{catename2}

   )   
   </insert>
   
   <select id="view" resultType="org.kh.youblog.blog.model.vo.Blog">
   select * from tb_board
   where blog_no = #{blogno}
   </select>
   
</mapper>
















