<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">
   
   <resultMap type="Comment" id="resultComment">
      <id property="cmtno" column="cmt_no" />
      <result property="blogno" column="blog_no" />
      <result property="memberid" column="member_id" />
      <result property="cmtparentno" column="cmt_parentno" />
      <result property="cmtcontents" column="cmt_contents" />
      <result property="state" column="state" />
      
   </resultMap>
   
   <resultMap type="Comment" id="resultList">
      <result property="cmtno" column="cmt_no" />
      <result property="blogno" column="blog_no" />
      <result property="memberid" column="member_id" />
      <result property="cmtparentno" column="cmt_parentno" />
      <result property="cmtcontents" column="cmt_contents" />
      <result property="state" column="state" />
   </resultMap>
   <select id="selectList" resultMap="resultList" >
      select * from 
      tb_comment
      <!-- where member_id = 'user01' -->
   </select>
   






</mapper>