<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">
<!-- 
private String cmtNo;
	private String blogNo;
	private String memberId;
	private String cmtParentno;
	private String cmtContents;
	private String state;
	private String hidden; -->

	 <resultMap type="Comment" id="resultComment">
		<id property= "cmtNo" column="CMT_NO" />
		<result property="blogNo" column="BLOG_NO" />
		<result property="memberId" column="MEMBER_ID"/>
		<result property="cmtParentno" column="CMT_PARENTNO"/>
		<result property="cmtContents" column="CMT_CONTENTS"/>
		<result property="state" column="STATE"/>
		<result property="hidden" column="Hidden"/>
	</resultMap>
	
	<resultMap type="Comment" id="resultCommentList">
		<result property= "cmtNo" column="CMT_NO" />
		<result property="blogNo" column="BLOG_NO" />
		<result property="memberId" column="MEMBER_ID"/>
		<result property="cmtParentno" column="CMT_PARENTNO"/>
		<result property="cmtContents" column="CMT_CONTENTS"/>
		<result property="state" column="STATE"/>
		<result property="hidden" column="Hidden"/>
		
	</resultMap> 

	<!-- 댓글 조회 -->	
	<select id="readComment" parameterType="Comment" resultMap="resultCommentList">
		select * 
		from tb_comment
		where blog_no = #{blogNo}
		ORDER BY CMT_NO ASC
	</select>
	
	
	<!-- 댓글 추가 -->
	<insert id="insertComment" parameterType="Comment" >
		insert into tb_comment
		(CMT_NO
		,BLOG_NO
		,MEMBER_ID
		,CMT_CONTENTS
	     )values(
	     (CMT_NO_SEQ.NEXTVAL),
	     #{blogNo},
	     #{memberId},
	     #{cmtContents}
	     )
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="Comment" >
		UPDATE TB_COMMENT
		SET	 CMT_CONTENTS = #{cmtContents}
		WHERE MEMBER_ID = #{memberId}
		AND CMT_NO = #{cmtNo}
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="deleteComment" parameterType="Comment" >
		UPDATE TB_COMMENT
		SET	 STATE  = 'Y',
			CMT_CONTENTS = '삭제된댓글입니다.'
		WHERE MEMBER_ID = #{memberId}
		AND CMT_NO = #{cmtNo}
	</update>
<!-- 
   <select id="selectList" resultMap="resultList" resultType="Comment">
      select * from 
      tb_comment
      where member_id = 'user01'
   </select> -->

</mapper>