<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

		<resultMap type="Member" id="resultMember">
			<id property="memberid" column="member_id" />
			<result property="memberpwd" column="member_pw" />
			<result property="membername" column="member_name" />
			<result property="memberphone" column="member_phone" />
			<result property="memberemail" column="member_email" />
			<result property="birthday" column="birthday" />
			<result property="gender" column="gender" />
			<result property="membergoogleno" column="member_googleno" />
			<result property="membergoogleid" column="member_googleid" />
			<result property="manager" column="manager" />
			<result property="profilephoto" column="profile_photo" />
			<result property="banner" column="banner" />
			<result property="readercount" column="reader_count" />
			<result property="channelopen" column="channel_open" />
			<result property="subscribeshare" column="subscribe_share" />
			<result property="formula" column="formula" />
			<result property="partner" column="partner" />
			<result property="state" column="state" />
			<result property="alarm_check" column="alarm_check" />
			<result property="memberdeletedate" column="member_deletedate" />
		</resultMap>
		
		<resultMap type="Member" id="resultList">
			<result property="memberid" column="member_id" />
			<result property="memberpwd" column="member_pw" />
			<result property="membername" column="member_name" />
			<result property="memberphone" column="member_phone" />
			<result property="memberemail" column="member_email" />
			<result property="birthday" column="birthday" />
			<result property="gender" column="gender" />
			<result property="membergoogleno" column="member_googleno" />
			<result property="membergoogleid" column="member_googleid" />
			<result property="manager" column="manager" />
			<result property="profilephoto" column="profile_photo" />
			<result property="banner" column="banner" />
			<result property="readercount" column="reader_count" />
			<result property="channelopen" column="channel_open" />
			<result property="subscribeshare" column="subscribe_share" />
			<result property="formula" column="formula" />
			<result property="partner" column="partner" />
			<result property="state" column="state" />
			<result property="alarm_check" column="alarm_check" />
			<result property="memberdeletedate" column="member_deletedate" />
		</resultMap>
		
		<!-- <insert id="insertmember" parameterType="Member" flushCache="true" statementType="PREPARED" useGeneratedKeys="true">
			insert into TB_MEMBER values (#{memberid}, #{memberpwd}, #{membername}, #{memberemail}, #{birthday}, #{gender})
		</insert> -->
		
		<!-- <select id="loginCheck" parameterType="Member" 	resultType="Member" resultMap ="resultMember">
			select * from TB_MEMBER 
			where memberid = #{memberid} 
			and memberpwd = #{memberpwd}
		</select> -->
		
		<!-- <insert id="insertmember" parameterType="Member" flushCache="true" statementType="PREPARED" useGeneratedKeys="true">
			insert into TB_MEMBER values (#{memberid,jdbcType=VARCHAR}, #{memberpwd,jdbcType=VARCHAR}, #{membername,jdbcType=VARCHAR},
			#{memberphone,jdbcType=VARCHAR}, #{memberemail,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, #{membergoogleno,jdbcType=VARCHAR},
			#{membergoogleid,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{profilephoto,jdbcType=VARCHAR}, #{banner,jdbcType=VARCHAR}, #{readercount,jdbcType=NUMBER},
			#{channelopen,jdbcType=VARCHAR}, #{subscribeshare,jdbcType=VARCHAR}, #{formula,jdbcType=VARCHAR}, #{partner,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{alarmcheck,jdbcType=DATE}, #{memberdeletedate,jdbcType=DATE})
		</insert> -->
		
		<select id="selectBlogMember" parameterType="string" statementType="PREPARED" resultMap="resultMember">
			Select *
			from TB_MEMBER
			where member_id = #{writerid}
		</select>

</mapper>