<<<<<<< HEAD
@CHARSET "UTF-8";

/*main css*/

.conWrap{
    width:100%;
    overflow:auto;
    margin-top: 50px;
}
.conBox{
    width: 87%;
    float:right;
}
.s_conBox{
    width: 87%;
    float:right;
    margin-top: 80px;
}
.another_conBox{
    width: 100%;
    float:right;
}



/**********************

top_bar CSS

**********************/

.navbar-header
{
    width: 550px;
}

img
{
    position: relative;
    top: 0px;
    left: 0px;
    right: 15px;
    bottom: 90px;
    width: 100%;
    height: auto;

}

.navbar-brand
{
    width: 150px;
    padding: 12px;

}

.banner
{
    right: 50px;

}

.sidebar-icon
{
    position: relative;
    width: 50px;
    top: 8px;
    float: left;
}

.btn-default_1
{
    border: 0;
    outline: 0;
    background: white;
}

.btn-default_2
{
    border: 1px solid #ccc;
    border-radius: 1px;
    outline: none;
    background: white;
    font-size: 16.8px;
    width: 90px;
}

.navbar-form
{
    width: 670px;
}

.input-group
{
    position: relative;
    /*width: 520px;*/
    width: 80%;
    float:left;
}

@media (max-width: 1430px) {
    .navbar-form {
        display: none;
    }
}

.nav>li>a
{
    position: relative;
    display: block;
    padding: 15px 13px;
}

.btn-primary_1
{
    margin-top: 7px;
    margin-left: 18px;
    background: #FFF;
    border: 0;
    outline: none;
}
.fa, .fas {
    font-weight: 900;
    margin-top: 10px;
}


/**********************

side_bar CSS

**********************/


.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 13%;
    height: 100%;
    color: #e1ffff;
    z-index: 1;

}
.nav-side-menu .brand {
    background-color: #2e353d;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn_1 {
    display: none;
    position: relative;
    top: 5px;

}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 60px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 30px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    /*content: "\f105";*/
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li sub-menu li a{
    font-size: 20px;
}
.nav-side-menu li {
    padding-left: 5px;
    border-left: 3px solid #2e353d;
    /*border-bottom: 1px solid #23282e;*/

}
.sub_li{
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
    display: block;
    box-sizing: border-box;

}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;

}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 30%;
        height: 30%;
        margin-top: 0px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff/*#f1f1f1*/;
}

::-webkit-scrollbar{width: 13px;}
::-webkit-scrollbar-track {background-color:#cecece;}
::-webkit-scrollbar-thumb {background-color:#a5a5a5;border-radius: 7px;}
::-webkit-scrollbar-thumb:hover {background: #51545f;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:13px;height:0px;background:#cecece;}

.collapsing {
    /*-webkit-transition: 0.1s;*/
    transition: 0.2s;
    display: inline-block;
}
.menu-content a{
    display: inline-block;
    /*block으로 설정시 주제별이 밀림현상*/
    /*padding-right: 50px;*/
}

/**********************

    right_sidebar css

**********************/

/*.nav-right-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 100;
    background-color: #FFFFFF;
    position: fixed;
    !*top: 0px;*!
    width: 13%;
    height: 414px;
    color: #e1ffff;
    z-index: 1;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);

}

.nav-right-menu ul,
.nav-right-menu li {
    list-style: none;
    padding: 10px 10px 10px 20px;
    margin: 0 auto;
    line-height: 20px;
    cursor: pointer;
    border-bottom: 1px solid #23282e;
}
.nav-right-menu ul,
.nav-right-menu li:last-child{
    border:none;
}

.nav-right-menu a{
    text-decoration: none;
}
.num{
    float:right;
    color: #51545f;
}*/


/*********************

    3. 4x4 배열 구조

**********************/

.ul-table {
   width:90%;
    margin:0 auto;
    margin-top: 30px;
}
.ul-table__tables {
    display: inline-block;
    padding-bottom: 40px;
    border-bottom: 2px solid #eeeeee ;
    width: 100%;
    box-sizing: border-box;
}
/*.ul-table__tables .table_1:not(:first-child) {
    margin-left: 16px;
}*/
.ul-table__tables:after {
    content: '';
    display: block;
    clear: both;
}
.ul-table__tables .table_1:last-child {
    margin: 0px;
}
/*.division_line:before{*/

    /*border-bottom: 1px solid #23282e;*/
    /*border-width: 5px;*/
    /*display:block;*/
    /*width: 5px;*/
/*}*/

.table_1{
    background-color: #f1f1f1;
    float:left;
    /*border: 1px solid #1b1e21;*/
    padding: 1px;
    width: calc(92% / 5);
    height: 400px;
    margin-right:2%;
}

.table_2{
    background-color: #ffffff;
    /*float:left;*/
    /*border: 1px solid #1b1e21;*/
    padding: 1px;
    width: 330px;
    height: 350px;
    margin-outside: 5px;
    margin-left: 50px;
    /*margin: 8px;*/
}
.table_2_1{
    position: relative;
    background-color: #ffffff;
    float:right;
    /*border: 1px solid #1b1e21;*/
    padding: 1px;
    width: 330px;
    height: 350px;
    margin-outside: 5px
    /*margin-left: 450px;*/
    /*margin: 8px;*/
}

.table_2_1 img{
    width: 100%;
    height: 90%;
}


/*
@media (max-width: 1400px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;
    }
}

@media (max-width: 1200px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}

@media (max-width: 1150px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}


@media (max-width: 1050px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}

@media (max-width: 1000px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}


@media (max-width: 770px) {
    .ul-table  {
        width: 400px;
        margin-left: 0;

    }
    .nav-side-menu{
        display: none;
    }
}*/


.blog_title	{
    word-break:break-all;
    overflow: hidden;
    /*white-space: nowrap;*/
    font-size: 20px;
    width:345px;
    height: 60px;
    padding: 5px;
    text-overflow: ellipsis;
    font-family: 'Do Hyeon', sans-serif;
}

.blog_name{
    position: relative;
    overflow: hidden;
    margin-left: 2%;
    width: 100%;
    top: 20px;
}

.blog_view_time{
    position: relative;
    margin-left: 2%;
    width:100%;
    top: 25px;
}


.table_1 img{
    width: 100%;
    height: 60%;
}

.table_1:hover{

    border-color: #23282e;
    /*line-height: 30px;*/
    border-bottom: 2px solid #23282e;
}

.blog_name span{
    position: relative;
    top:2.5px;
    left: 4px;
    color: #afafaf;
}

.session_name{

    font-size: 20px;
    padding: 2px;
    margin-bottom: 25px;
}
.ul-row a{text-decoration : none;}


.category_nav{
    font-size: 25px;
    padding: 2px;
    margin-bottom: 25px;

}
.category_nav a {
    bottom: 1px;
    color: #db5246;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
    /*border-bottom: 1px solid #2e3133;*/


}

.category_nav2{
    font-family: verdana;
    position: relative;
    font-size: 15px;
    /*border-bottom: 2px solid ;
    border-top: 2px solid ;*/
    margin-bottom: 50px;
    padding:5px;
}
.category_nav2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 38px;
    width: 98.5%; /* or 100px */
    border-top: 2px solid #2e3133;
    border-bottom: 2px solid #2e3133;
}
.category_nav2 a {
    position: relative;
    margin: 13px;
    color: #1b1e21;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
}
/*.category_nav2 a:visited{
    color: #050adb;
    border:0px;
}*/
.first_link:hover{
    bottom: 1px;
    border-bottom: 1px solid #db5246;
    color: #db5246;
}
/*.first_link:active{
    color: #db5c76;
    border-bottom: 1px solid #db5246;
}*/
/*.first_link active{
    color: #050adb;
    border:0px;
}*/
.glyphicon{
    top: 3px;
}
.category_nav a:last-child{
    left: 3px;
    padding: 5px;
}


/******************************

      4.1x1 배열 (인기페이지)

*******************************/



*{margin:0; padding:0;}
li{list-style-type: none;} /* 무시해도뎀 */

.contentsBox{width:55%; margin:0 auto;}
ul.contentsList{width:100%; margin-top:100px; margin-left: 100px;}
ul.contentsList li{overflow:auto; /* float 해제  */ border-top:1px solid #ddd; padding-top:20px; margin-bottom:20px;}
ul.contentsList li:first-child{border:none;}
.leftTextBox{float:left; width:65%;}
.profileImg{width:50px; height:50px; border:1px solid #ddd; float:left; background-color: pink; margin-right:20px;}
.userName{margin-bottom:5px;}
.title{clear: both;/* float 해제 */ margin-top:30px; font-weight: bold; font-size:1.2em;}
.content{overflow:hidden; margin-top:20px;word-wrap:normal;text-overflow:ellipsis;
    height: 140px;}
.rightImgBox{float:right; width:25%; height: 258px;}
.mainImg{min-width:100%; height:100%; background-color: aqua; box-sizing:border-box; }



/******************************

     5.select_box

*******************************/



.select_box{
    /*overflow: hidden;*/
    position: fixed;
    width: 200px;
    height: 50px;
    /*float: right;*/
    float: right;
    right:30px;
    padding: 2px;
}
.select_box button{
    border: 0px;
    background-color: rgba( 255, 255, 255, 0 );
}

.top_text{
    padding: 2px;
    width: 70%;
    height: 330px;
}
.top_text_title{
    font-size: 42px;
    font-weight: bold;

}
.top_text_content{
    font-size: 13px;
}

.check_img{
    width:20px;
    height: 20px;
}
.btn_src {
    text-decoration: none;
    display: inline-block;
    /*padding-right: 15px;
    padding-left: 15px;*/
    box-sizing: border-box;
}

.libray_title_box{
    overflow: hidden;
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-top: 100px;
    margin-left: 95px;
}
.libray_title{
    font-size: 22px;
    font-weight: bold;
    opacity: 0.7;
}
.fas{
    opacity: 0.7;
    font-size: 1.5em;
}


/**********************

       버튼 css

**********************/

.official_btn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1.0em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.official_btn:hover{
    background:#fff;
    color:#1AAB8A;
}
.official_btn:before,.official_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.official_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.official_btn:hover:before,.official_btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.wrap {
    position: absolute;
    top: 60%;
    left: 85%;
    margin-top: -500px;
    margin-left: -45px;
    text-align: center;
    width: 12%;
}
.wrap a {
    /*-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);*/
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    /*width: 80px;*/
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 50px;
    overflow: auto;
}
.badukarray {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    float: left;
}
.badukarray:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
.listarray {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    /*float:right;*/
}
.listarray:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}


/****************************

       person_channel css

*****************************/

.channel_conbox{
    width: 87%;
    float:right;
}

.top_img_box{
    width:87%;
    height: 250px;
    margin: 0 auto;
    float: right;
}
.top_img_box img{
    width:100%;
    height:250px;
    position: relative;
}
.channel_header{
    width: 100%;
    height: 100px;
   /* margin-top: 35px;*/
    float:left;
    padding-left:150px;
    padding-right:100px;
    padding-top:20px;
}
.channel_img{
    width:5%;
    height: auto;
    float:left;

}
.channel_img img{
    width:80px;
    height:80px;
}
.channel_infoBox{
    width:64%;
    margin: 0 auto;
    float: left;
    margin-top: 5px;
}
.channel_infoBox p{
    margin-left: 23px;
    position: relative;
}
.channel_name{
    font-size: 25px;
    font-weight: bold;
}
.channel_name .glyphicon-ok-circle:before{
    font-size: 20px;
    opacity: 0.7;
}

.subscript_tag {
    /*-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);*/
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    /*width: 80px;*/
    text-decoration: none; !important
    border-radius: 4px;
    padding: 8px 20px;
    overflow: auto;
}
.subscript_tag {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    float: left;
    text-decoration: none; !important
}
.subscript_tag:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    text-decoration: none;
}

.infoBox_right i{
    font-size: 20px;
    margin-top: 29px;
    margin-left:15px;
}
.sub_alram:active{
    padding: 0;
    outline: none;
    text-decoration: none;
}

.sub_header{
    width:100%;
    height: 50px;
    float:left;
}
.channel_contents{
    width:65%;
    height: auto;
    float:left;
    margin-top: 50px;
    margin-left: 170px;
}
.channel_category{
    width: 22%;
    height: auto;
    /*overflow: auto;*/
    right: -5%;
    margin-top:150px;
    /*margin-top: 65px;
    margin-right: 10px;*/
    /*margin-left:150px;*/
    position: fixed;

}
.header_category{
    font-family: verdana;
    position: relative;
    font-size: 9px;
    /*border-bottom: 2px solid ;
    border-top: 2px solid ;*/
    margin-left:150px;
    padding:5px;
}
.header_category:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 98.5%; /* or 100px */
}
.header_category a {
    position: relative;
    margin: 18px;
    color: #1b1e21;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 13px;
    float:left;
}
.header_searchbar{
    width: 30%;
    position: relative;
    margin: 15px auto;
    margin-left:10px;
    left:15px;
    display: flex;
    flex-direction: row;
    text-align: right;
}
#image_search{
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
#input_text_search{
    border: none;
    background-color: rgba(0,0,0,0);
    color: #666666;
    border-bottom: solid 2px #333;
    outline: none;
    width: 0px;
    font-size: 13px;
    transition: all 0.3s;
}
.channel_list li{
    overflow:auto; /* float 해제  */
    border-top:1px solid #ddd;
    padding-top:20px;
    margin-bottom:20px;
}
.channel_list li:first-child{
    border:none;
}
.movepage{
   	text-decoration:none;
}


/*************************

    person_right-sidebar

**************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
.category_frame {
    position: fixed;
    top: 50%;
    left: 108%;
    width: 50px;
    /*height: 100px;*/
    margin-top: -100px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #2c3e50;
    background-color: rgba( 255, 255, 255, 0 );
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

     /* 사이드바 스타일 */
 .sidenav {
     height:66%;
     width: 0;
     position: fixed;
     z-index:1;
     top: 300px;
     right: 0;
     background-color: white;
     box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
     overflow-x: hidden;
     transition:0.3s ease-in-out;
     padding-top: 60px;

 }
.sidenav a{
    width:100%;
    left:50px;
    padding: 8px 20px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #1b1e21;
    transition: 0.2s ease-in-out;
    border-bottom: 1px solid;
    display: inline-block;

}
.sidenav a:first-child{
    border:none;
}
.num{
    float: right;
}
.sidenav a:hover, .offcanvas a:focus {
    color: #000;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
.select_edit{
	position: absolute;
    float: left;
    top: 0;
    margin: 0 auto;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
}
.openmenu:hover {
    color:rgb(0,154,200);
    transition:0.5s ease-in-out;
}
.openmenu {
    font-size: 25px;
    cursor:pointer;
    transition:0.5s ease-in-out;
}
.openmenu > i {
    font-size: 30px;
}
/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top:15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/***********************************

        person_channel_tab

************************************/
.channel_box_1{
    overflow: auto;
    width:100%;
    margin-left:-50px;

}

.subscription_Box{
    float:left;
    width:25%;
    height:auto;
    text-align: center;
    margin-bottom: 50px;
}

.sub_channel_img{
    width:80px;
    height:80px;
    position: relative;

}

.sub_channel_img img{
    position: relative;
    width:80px;
    height:80px;
    margin: 0 auto;
    margin-left:95px;
    margin-bottom:10px;
}
.subscription_Box a{
    text-decoration: none;
}

.subscript_tag_1 {
    width: 40%;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    /*width: 80px;*/
    text-decoration: none; !important
    border-radius: 4px;
    padding: 8px 20px;
    overflow: auto;
}
.subscript_tag_1 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    text-decoration: none; !important
}
.subscript_tag_1:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    text-decoration: none;
}

.channel_box_2{
    overflow: auto;
    width:70%;
    margin-left:-50px;
}
.channel_contents_1{
	width:80%;
    height: auto;
    float:left;
    margin-top: 50px;
    margin-left: 170px;
}
=======
/*main css*/

.conWrap{
    width:100%;
    overflow:auto;
    margin-top: 50px;
}
.conBox{
    width: 87%;
    float:right;
}
.s_conBox{
    width: 87%;
    float:right;
    margin-top: 80px;
}
.another_conBox{
    width: 100%;
    float:right;
}



/**********************

top_bar CSS

**********************/

.navbar-header
{
    width: 550px;
}

img
{
    position: relative;
    top: 0px;
    left: 0px;
    right: 15px;
    bottom: 90px;
    width: 100%;
    height: auto;

}

.navbar-brand
{
    width: 150px;
    padding: 12px;

}

.banner
{
    right: 50px;

}

.sidebar-icon
{
    position: relative;
    width: 50px;
    top: 8px;
    float: left;
}

.btn-default_1
{
    border: 0;
    outline: 0;
    background: white;
}

.btn-default_2
{
    border: 1px solid #ccc;
    border-radius: 1px;
    outline: none;
    background: white;
    font-size: 11.8px;
    width: 90px;

}

.navbar-form
{
    width: 670px;
}

.input-group
{
    position: relative;
    /*width: 520px;*/
    width: 80%;
    float:left;
}

@media (max-width: 1430px) {
    .navbar-form {
        display: none;
    }
}

.nav>li>a
{
    position: relative;
    display: block;
    padding: 15px 13px;
}

.btn-primary_1
{
    margin-top: 7px;
    margin-left: 18px;
    background: #FFF;
    border: 0;
    outline: none;
}
.fa, .fas {
    font-weight: 900;
    margin-top: 10px;
}


/**********************

side_bar CSS

**********************/


.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 13%;
    height: 100%;

    color: #e1ffff;
    z-index: 1;

}
.nav-side-menu .brand {
    background-color: #2e353d;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn_1 {
    display: none;
    position: relative;
    top: 5px;

}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 60px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 30px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    /*content: "\f105";*/
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li sub-menu li a{
    font-size: 20px;
}
.nav-side-menu li {
    padding-left: 5px;
    border-left: 3px solid #2e353d;
    /*border-bottom: 1px solid #23282e;*/

}
.sub_li{
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
    display: block;
    box-sizing: border-box;

}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;

}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 30%;
        height: 30%;
        margin-top: 0px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff/*#f1f1f1*/;
}

::-webkit-scrollbar{width: 13px;}
::-webkit-scrollbar-track {background-color:#cecece;}
::-webkit-scrollbar-thumb {background-color:#a5a5a5;border-radius: 7px;}
::-webkit-scrollbar-thumb:hover {background: #51545f;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:13px;height:0px;background:#cecece;}

.collapsing {
    /*-webkit-transition: 0.1s;*/
    transition: 0.2s;
    display: inline-block;
}
.menu-content a{
    display: inline-block;
    /*block으로 설정시 주제별이 밀림현상*/
    /*padding-right: 50px;*/
}


/*********************

    3. 4x4 배열 구조

**********************/

.ul-table {
   width:90%;
    margin:0 auto;
    margin-top: 30px;
}
.ul-table__tables {
    display: inline-block;
    padding-bottom: 40px;
    border-bottom: 2px solid #eeeeee ;
    width: 100%;
    box-sizing: border-box;
}
/*.ul-table__tables .table_1:not(:first-child) {
    margin-left: 16px;
}*/
.ul-table__tables:after {
    content: '';
    display: block;
    clear: both;
}
.ul-table__tables .table_1:last-child {
    margin: 0px;
}
/*.division_line:before{*/

    /*border-bottom: 1px solid #23282e;*/
    /*border-width: 5px;*/
    /*display:block;*/
    /*width: 5px;*/
/*}*/

.table_1{
    background-color: #f1f1f1;
    float:left;
    /*border: 1px solid #1b1e21;*/
    padding: 1px;
    width: calc(92% / 5);
    height: 400px;
    margin-right:2%;
}

.table_2{
    background-color: #ffffff;
    /*float:left;*/
    /*border: 1px solid #1b1e21;*/
    padding: 1px;
    width: 330px;
    height: 350px;
    margin-outside: 5px;
    margin-left: 50px;
    /*margin: 8px;*/
}
.table_2_1{
    position: relative;
    background-color: #ffffff;
    float:right;
    /*border: 1px solid #1b1e21;*/
    padding: 1px;
    width: 330px;
    height: 350px;
    margin-outside: 5px
    /*margin-left: 450px;*/
    /*margin: 8px;*/
}

.table_2_1 img{
    width: 100%;
    height: 90%;
}


/*
@media (max-width: 1400px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;
    }
}

@media (max-width: 1200px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}

@media (max-width: 1150px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}


@media (max-width: 1050px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}

@media (max-width: 1000px) {
    .ul-table .table_1  {
        width: 400px;
        margin-left: 20%;

    }
}


@media (max-width: 770px) {
    .ul-table  {
        width: 400px;
        margin-left: 0;

    }
    .nav-side-menu{
        display: none;
    }
}*/


.blog_title	{
    word-break:break-all;
    overflow: hidden;
    /*white-space: nowrap;*/
    font-size: 20px;
    width:345px;
    height: 60px;
    padding: 5px;
    text-overflow: ellipsis;
    font-family: 'Do Hyeon', sans-serif;
}

.blog_name{
    position: relative;
    overflow: hidden;
    margin-left: 2%;
    width: 100%;
    top: 20px;
}

.blog_view_time{
    position: relative;
    margin-left: 2%;
    width:100%;
    top: 25px;
}


.table_1 img{
    width: 100%;
    height: 60%;
}

.table_1:hover{

    border-color: #23282e;
    /*line-height: 30px;*/
    border-bottom: 2px solid #23282e;
}

.blog_name span{
    position: relative;
    top:2.5px;
    left: 4px;
    color: #afafaf;
}

.session_name{

    font-size: 20px;
    padding: 2px;
    margin-bottom: 25px;
}
.ul-row a{text-decoration : none;}


.category_nav{
    font-size: 25px;
    padding: 2px;
    margin-bottom: 25px;

}
.category_nav a {
    bottom: 1px;
    color: #db5246;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
    /*border-bottom: 1px solid #2e3133;*/


}

.category_nav2{
    font-family: verdana;
    position: relative;
    font-size: 15px;
    /*border-bottom: 2px solid ;
    border-top: 2px solid ;*/
    margin-bottom: 50px;
    padding:5px;
}
.category_nav2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 38px;
    width: 98.5%; /* or 100px */
    border-top: 2px solid #2e3133;
    border-bottom: 2px solid #2e3133;
}
.category_nav2 a {
    position: relative;
    margin: 13px;
    color: #1b1e21;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
}
/*.category_nav2 a:visited{
    color: #050adb;
    border:0px;
}*/
.first_link:hover{
    bottom: 1px;
    border-bottom: 1px solid #db5246;
    color: #db5246;
}
/*.first_link:active{
    color: #db5c76;
    border-bottom: 1px solid #db5246;
}*/
/*.first_link active{
    color: #050adb;
    border:0px;
}*/
.glyphicon{
    top: 3px;
}
.category_nav a:last-child{
    left: 3px;
    padding: 5px;
}


/******************************

      4.1x1 배열 (인기페이지)

*******************************/



*{margin:0; padding:0;}
li{list-style-type: none;} /* 무시해도뎀 */

.contentsBox{width:55%; margin:0 auto;}
ul.contentsList{width:100%; margin-top:100px; margin-left: 100px;}
ul.contentsList li{overflow:auto; /* float 해제  */ border-top:1px solid #ddd; padding-top:20px; margin-bottom:20px;}
ul.contentsList li:first-child{border:none;}
.leftTextBox{float:left; width:65%;}
.profileImg{width:50px; height:50px; border:1px solid #ddd; float:left; background-color: pink; margin-right:20px;}
.userName{margin-bottom:5px;}
.title{clear: both;/* float 해제 */ margin-top:30px; font-weight: bold; font-size:1.2em;}
.content{overflow:hidden; margin-top:20px;word-wrap:normal;text-overflow:ellipsis;
    height: 140px;}
.rightImgBox{float:right; width:25%; height: 258px;}
.mainImg{min-width:100%; height:100%; background-color: aqua; box-sizing:border-box; }



/******************************

     5.select_box

*******************************/



.select_box{
    /*overflow: hidden;*/
    position: fixed;
    width: 200px;
    height: 50px;
    /*float: right;*/
    float: right;
    right:30px;
    padding: 2px;
}
.select_box button{
    border: 0px;
    background-color: rgba( 255, 255, 255, 0 );
}

.top_text{
    padding: 2px;
    width: 70%;
    height: 330px;
}
.top_text_title{
    font-size: 42px;
    font-weight: bold;

}
.top_text_content{
    font-size: 13px;
}

.check_img{
    width:20px;
    height: 20px;
}
.btn_src {
    text-decoration: none;
    display: inline-block;
    /*padding-right: 15px;
    padding-left: 15px;*/
    box-sizing: border-box;
}

.libray_title_box{
    overflow: hidden;
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-top: 100px;
    margin-left: 95px;
}
.libray_title{
    font-size: 22px;
    font-weight: bold;
    opacity: 0.7;
}
.fas{
    opacity: 0.7;
    font-size: 1.5em;
}


/**********************

       버튼 css

**********************/

.official_btn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1.0em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.official_btn:hover{
    background:#fff;
    color:#1AAB8A;
}
.official_btn:before,.official_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.official_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.official_btn:hover:before,.official_btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.wrap {
    position: absolute;
    top: 60%;
    left: 85%;
    margin-top: -500px;
    margin-left: -45px;
    text-align: center;
    width: 12%;
}
.wrap a {
    /*-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);*/
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    /*width: 80px;*/
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 50px;
    overflow: auto;
}
.badukarray {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    float: left;
}
.badukarray:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
.listarray {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    /*float:right;*/
}
.listarray:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}



/****************************

       chaneel css

*****************************/

.channel_conbox{
    width: 87%;
    float:right;
}

.top_img_box{
    width:100%;
    height: 250px;
    margin: 0 auto;
    float: right;
}
.top_img_box img{
    width:100%;
    height:250px;
    position: relative;
}
.channel_header{
    width: 100%;
    height: 100px;
   /* margin-top: 35px;*/
    float:left;
    padding-left:150px;
    padding-right:100px;
    padding-top:20px;
}
.channel_img{
    width:5%;
    height: auto;
    float:left;

}
.channel_img img{
    width:80px;
    height:80px;
}
.channel_infoBox{
    width:70%;
    margin: 0 auto;
    float: left;
    margin-top: 5px;
}
.channel_infoBox p{
    margin-left: 23px;
    position: relative;
}
.channel_name{
    font-size: 25px;
    font-weight: bold;
}
.channel_name .glyphicon-ok-circle:before{
    font-size: 20px;
    opacity: 0.7;
}

.subscript_tag {
    /*-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);*/
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    /*width: 80px;*/
    text-decoration: none; !important
    border-radius: 4px;
    padding: 8px 20px;
    overflow: auto;
}
.subscript_tag {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    float: left;
    text-decoration: none; !important
}
.subscript_tag:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    text-decoration: none;
}

.infoBox_right i{
    font-size: 20px;
    margin-top: 29px;
    margin-left:15px;
}
.sub_alram:active{
    padding: 0;
    outline: none;
    text-decoration: none;
}

.sub_header{
    width:100%;
    height: 50px;
    float:left;
}
.channel_contents{
    width:81%;
    height: 100px;
    float:left;

}
.channel_category{
    width:18%;
    height: 100px;
    float:right;

}
