@CHARSET "UTF-8";

/*===================디테일페이지=====================*/
.content_box{
	position:relative;
	overflow: hidden;
    margin-top: 50px;
    /* margin-left: 300px; */
    word-wrap: normal;
    text-overflow: ellipsis;
    height: auto;
    text-align:center;
	font-size: 15px;
}

.detail_textbox{
	float:left;
    margin-right: 150px;
    margin-left: 400px;
    margin-bottom: 70px;
    text-align:center;
    padding: 10px;
}

.title-area {
    background-color: #bce8f1;
    margin-top: 60px;
    margin-bottom: 100px;
    width:65%;
    height: auto;
    float:left;
}

.title-text{
	overflow:hidden;
    text-align: center;
    text-weight: bold;
    height: 150px;
    font-size: 50px;
    word-break: break-all;
    text-overflow: ellipsis;
    word-wrap: normal;

}

.detail_img{
    width:50px;
    height:50px;
    border:1px solid #ddd;
    margin-right:20px;
}
.detail_img_2{
    width:100px;
    height:100px;
    border:1px solid #ddd;
    margin-right:20px;
}
.detail_img_3{
    width:80px;
    height:80px;
    border:1px solid #ddd;
    margin-right:20px;
}
.profimg{
    float: left;
    margin-top: 15px;
}

.profiletextarea{
    width: 90%;
    float: left;
    margin-top: 15px;
}


.profilebox{
    width: 87%;
    height: auto;
    float:right;
}
.detail_profile{
    width: 87%;
    height: auto;
    margin-left: 170px;
    float: left;
}
.userName_1{
    margin-bottom:5px;
    font-size: 22px;
    font-weight: bold;
}

.userName_2{
    margin-bottom:5px;
    font-size: 15px;
    font-weight: bold;
}

.icon_box{
    width: 100%;
    height: 33px;
}
.hrline{
    width: 82%;
    float: right;
    margin-right: 7%
}
.channel_conbox_1{
    width: 87%;
    float:right;
    margin-bottom: 65px;
}
.comment_box{
    width: 87%;
    height: auto;
    float:right;
    margin-bottom: 200px;
}

.comment_box_1{
    width: 90%;
    height: auto;
    float:left;
    margin-bottom: 200px;
}


.comment_count{
    width: 93%;
    height: auto;
    margin-top: 20px;
    margin-left: 170px;
    margin-bottom: 20px;
    float: left;
}
.commentarea{
    width: 87%;
    height: auto;
    margin-left: 170px;
    float: left;
}

.commenttext{
    font-size: 17px;
    font-weight: bold;
}
.profiletable{
    margin-right: 95px;

}

.infoBox_right_1 i{
    font-size: 20px;
    margin-top: 29px;
    margin-left:15px;
    float: right;
    margin-right: 50px;
}
.content_1{
    width: 90%;
    background-color: #e1ffdb;
}

.content_2{
    width: 100%;
    background-color: #e1ffdb;
}

.collapse_1{
    background-color: #9a54ce;
}
.profile{
    width: 50%;
    float: left;
}
.followbox{
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
.imgbox{
    float:left;
    margin-right: 15px;
}
.updownbox{
    float: left;
    margin-right: 25px;
}
.updownbox_1{
    float: left;
    margin-right: 25px;
    margin-top: 10px;
}
.allcomment{
    width: 100%;
    height: auto;
    float: left;
}
.commentarea{
    width: 100%;
    margin-left: 20px;
    height: 70px;
    float: left;
    margin-right: 50px;
}
.btndiv{
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}

.commentptag{
    float: left;
    margin-top: 20px;
}
.comment_textarea{
    float: left;
    width: 70%;
}

/*===================writepage====================*/

.wpageptag{
    font-weight: bold;
    font-size: medium;
    text-align:center;
    float:right;
    margin-right:20px;
}
.wpageinput{
    width:1000px;
    height: 28px;
    margin-bottom: 10px;
}
.wpageselect{
    float: left;
    margin-top: 5px;
    
}
.wpagebtn{
	position:fixed;
    text-align: center;
    margin-top: 100px;
    margin-right: 300px;
    top:0;
    right:0;
}
.channel_conbox_4 {
	position:relative;
	float:left;
	width:90%;
	margin-top:100px;
	/* margin-right:250px; */ 
	/* left:30px; */
}
.empty_td{
	width:400px;
	/* margin-left:200px; */
}

.wpagecategory{
	position:relative;
	height: 40px;
}